Flow7.py
[{"id":"5d26dea3.17d4c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"5adf987b.0a4b08","type":"mqtt in","z":"5d26dea3.17d4c","name":"","topic":"mcs/Dw50zW9r/PoTAOlvLBK5U9FUr/+","qos":"2","datatype":"auto","broker":"68578965.0d8f58","x":220,"y":180,"wires":[["6722cd73.19ed84"]]},{"id":"6722cd73.19ed84","type":"csv","z":"5d26dea3.17d4c","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":480,"y":180,"wires":[["4a06328.bf01bcc"]]},{"id":"4a06328.bf01bcc","type":"change","z":"5d26dea3.17d4c","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["454b4b2d.431054"]]},{"id":"454b4b2d.431054","type":"ui_gauge","z":"5d26dea3.17d4c","name":"","group":"61b337c4.8170e8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":180,"wires":[]},{"id":"68578965.0d8f58","type":"mqtt-broker","z":"","name":"MCS cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61b337c4.8170e8","type":"ui_group","z":"","name":"Status","tab":"dc1daf9e.2c36a","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc1daf9e.2c36a","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
