Flow6.py
[{"id":"f10693ce.4c4bd","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"5a7b91ad.f6c81","type":"inject","z":"f10693ce.4c4bd","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["d236dcec.67304"]]},{"id":"48fd2e20.29e33","type":"inject","z":"f10693ce.4c4bd","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["d236dcec.67304"]]},{"id":"d236dcec.67304","type":"mqtt out","z":"f10693ce.4c4bd","name":"","topic":"mcs/Dw50zW9r/PoTAOlvLBK5U9FUr/Temperature","qos":"2","retain":"","broker":"68578965.0d8f58","x":480,"y":180,"wires":[]},{"id":"68578965.0d8f58","type":"mqtt-broker","z":"","name":"MCS cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]

